<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" href="../public/style/home.css">
    <!-- Add any necessary styles here -->
    <style>
        .head{
            text-align: center; padding: 2rem 0rem; color:black;
        }
        h3{
            text-align: center; color: black;
        }
        body{
            background-color: floralwhite;
        }
    </style>
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <a href="#" class="logo">BookHive</a>
            <ul class="menu">
                <li><a href="/">Home</a></li>
                    <ul class="sub-menu">
                        <li><a href="/search">Search</a></li>
                        <li><a href="/browse">Browse</a></li>
                    </ul>
            </ul>
        </div>
    </nav>

    <h1 class="head">Sorry! No book found</h1>
    <h3 >You can look some of the top Rated Books</h3>
    <div class="big_container" >
        <div class="book_50">
            <div class="books">
                {% for i in range(book_name|length) %}
                <div class="card">
                    <div class="card-body">
                        <a href="/recommend/{{ book_name[i] }}" class="book-link">
                        <img class="card-img-top" src="{{ image[i] }}">
                        <div class="content">
                        <p class="text-white">{{ book_name[i] }}</p>
                        </a>
                        <h4 class="text-white2">Author: {{ author[i] }}</h4>
                        <!-- <h4 class="text-white">Votes - {{ votes[i] }}</h4> -->
                        <h4 class="text-white3">Rating - {{ rating[i] }}</h4>
                    </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <footer>
        <p>&copy; BookHive 2024 </p>
    </footer>
</body>
</html>
