<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" href="../public/style/home.css">
    <link rel="stylesheet" href="../public/style/header.css">
    <!-- Add any necessary styles here -->
    <style>
        .head{
            text-align: center; padding: 2rem 0rem; color:black;
        }
        h3{
            text-align: center; color: black;
        }
        body{
            background-color: floralwhite;
        }
    </style>
</head>
<body>
    <div class="container2">
        <div class="logo">BookHive</div>
        <div class="burger-menu">
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
        </div>
        <ul class="nav-links">
          <li><a class="home" href="/">Home</a></li>
          
          <li class="dropdown">
            <a href="/search" >Search</a>
            <li><a href="/browse">Browse</a></li>
          </li>
          <li class="dropdown">
            <a href="/about">About</a>
          </li>
          <li><a href="/contact">ContactUs</a></li>
          {% if username  %}
          <li><a href="/logout">Logout</a></li>
          {% else %}
          <li><a href="/login">Login</a></li>
          <li><a href="/register">Register</a></li>
          {% endif %}
        </ul>
      </div>
    

    <h1 class="head"><b style="color: red;">Sorry!</b> No book found</h1>
    <h3 >You can look some of the top Rated Books</h3>
    <div class="big_container" >
        <div class="book_50">
            <div class="books">
                {% for i in range(book_name|length) %}
                <div class="card">
                    <div class="card-body">
                        <a href="/recommend/{{ book_name[i] }}" class="book-link">
                        <img class="card-img-top" src="{{ image[i] }}">
                        <div class="content">
                        <p class="text-white">{{ book_name[i] }}</p>
                        </a>
                        <h4 class="text-white2">Author: {{ author[i] }}</h4>
                        <!-- <h4 class="text-white">Votes - {{ votes[i] }}</h4> -->
                        <h4 class="text-white3">Rating - {{ rating[i] }}</h4>
                    </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <footer>
        <p>&copy; BookHive 2024 </p>
    </footer>

    <script src="../public/js/header.js"></script>
</body>
</html>
